@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: #000;
  }
  
  div[data-nextjs-scroll-focus-boundary] {
    height: 100%;
  }
 